* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}



/* HOMEPAGE ************************************************/

.homepage {
    background: linear-gradient(-45deg, #5F00D8, #F69955);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.homepage .title {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.homepage .title h1 {
    margin-bottom: 40px;
    font-family: 'Yeseva One', serif;
    font-size: 60px;
    color: white;
}
.homepage .title h2 {
    font-weight: normal;
    font-size: 18px;
    margin: 0 20px;
    color: white;
}
.homepage .btns div a {
    display: block;
    width: 100%;
    border-radius: 40px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    border: solid white 2px;
    color: white;
    font-size: 18px;
}
.homepage p {
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
    color: white;
}
.homepage p a {
    color: white;
}