* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 20px;
    font-family: 'Open Sans', sans-serif;
}




.login {
    background: linear-gradient(#98ff98, #f47dff);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.brand {
    margin-top: 100px;
    width: 100%;
    text-align: center;
}
.brand h1 {
    margin-bottom: 20px;
    font-family: 'Lobster', sans-serif;
    font-size: 60px;
    color: white;
}
.brand h2 {
    font-weight: 600;
    font-size: 18px;
    margin: 0 20px;
    color: white;
}
.btn-sign a {
    display: block;
    width: 100%;
    border-radius: 20px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
}
.apple-sign {
    background-color: black;
    color: white;
}
.fb-sign {
    background-color: blue;
    color: white;
}
.tel-sign {
    background-color: white;
    color: black;
}
.bottom p {
    font-size: 12px;
    text-align: center;
    margin-top: 40px;
}
.bottom p a {
    color: black;
}