* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    padding: 40px 20px;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(-45deg, #5F00D8, #F69955);
}
.button {
    display: block;
    width: 100%;
    border-radius: 40px;
    height: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    margin-bottom: 10px;
    border: solid white 2px;
    color: white;
    font-size: 18px;
    background: none;
    font-family: 'Quicksand', sans-serif;
}



/* HOMEPAGE + SIGN UP PAGE + PROFILE FORM PAGE ************************************************/

.homepage, 
.sign-up-page,
.profile-form-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.homepage .title,
.sign-up-page .title {
    padding-top: 100px;
    width: 100%;
    text-align: center;
}
.homepage .title h1 a,
.sign-up-page .title h1 a {
    font-family: 'Yeseva One', serif;
    font-size: 60px;
    color: white;
    text-decoration: none;
}
.homepage .title h2,
.sign-up-page .title h2 {
    font-weight: normal;
    font-size: 18px;
    line-height: 25px;
    padding: 0 20px;
    color: white;
    padding-top: 40px;
}
.homepage p,
.sign-up-page .btns p {
    font-size: 12px;
    text-align: center;
    padding-top: 40px;
    color: white;
}
.homepage p a,
.sign-up-page .btns p a {
    color: white;
}



.phone-number,
.name-form,
.birthdate-form,
.email-form {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.phone-number label,
.name-form label,
.birthdate-form label,
.email-form label {
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.phone-number .info,
.name-form .info,
.email-form .info {
    padding-top: 30px;
    font-size: 15px;
    text-align: left;
    color: white;
}
.tel-bloc,
.name-input,
.birthdate-input,
.email-input {
    padding-top: 30px;
    width: 100%;
}
.tel-bloc span {
    color: white;
    font-size: 23px;
    border-bottom: 2px solid white;
    margin-right: 10px;
}
.tel-bloc input {
    width: 70%;
    outline: none;
    color: white;
    background: none;
    border: none;
    font-size: 23px;
    border-bottom: 2px solid white;
}
.phone-number .next-phone,
.name-form .next-name,
.next-birthdate,
.next-email {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.name-form {
    display: none;
}
.name-input,
.birthdate-input,
.email-input {
    background: none;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    font-size: 23px;
}


/* HOMEPAGE ************************************************/

.profile-form-page header h1 {
    color: white;
    font-size: 25px;
    margin-bottom: 20px;
}
.profile-form-page header p {
    color: white;
}
.profile-form-page .btn p {
    margin-bottom: 50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.profile-form-page .btn .button {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.profile-form-page .title {
    color: white;
    font-size: 30px;
    font-weight: bold;
}
.profile-form-page .info {
    color: white;
    margin-top: 20px;
}
.relation-type {
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: space-between;
}
.bloc-type {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.bloc-type label {
    width: 100%;
    margin-bottom: 15px;
}
.checkbox {
    border: solid 2px white;
    color: white;
    padding: 10px;
    border-radius: 10px;
}
.check-input { /* fait disparaitre l'input*/
    clip: rect(0 0 0 0);
	clip-path: inset(100%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.check-bloc {
    display: flex;
    align-items: center;
}
.check-bloc img {
    margin-right: 5px;
}
.check-bloc .img {
    width: 40px;
    height: 40px;
}
.next-relation-type ,
.next-astro,
.next-interest,
.next-social {
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}
.astro , 
.interest,
.social {
    display: none;
    overflow-y: scroll;
    scrollbar-width: 0;
}
.interest-bloc .checkbox {
    width: 40%;
    margin: 10px;
}
.interest-bloc .check-bloc {
    display: flex;
    flex-direction: column;
}
.interest-bloc .check-bloc img {
    margin-bottom: 10px;
}
.social {
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}
.social .bloc-type {
    margin-top: 10px;
}

/* DASHBOARD ************************************************/

.dashboard,
.messages,
.groupes {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: white;
}
.dashboard header,
.messages header,
.groupes header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: 1px solid white;
}
.dashboard header a,
.messages header a,
.groupes header a {
    font-family: 'Yeseva One', serif;
    font-weight: 100;
    color: white;
    font-size: 30px;
    text-decoration: none;
}
.dashboard footer,
.messages footer,
.groupes footer {
    padding: 0 10px;
    padding-top: 10px;
    padding-bottom: 5px;
    border-top: solid 1px white;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.dashboard .swipes,
.messages .msg-container,
.gp-container {
    margin: 10px;
    margin-top: 60px;
    margin-bottom: 60px;
    overflow-y: scroll;
}
.dashboard figure {
    width: 95vw;
    height: 60vh;
    border-radius: 20px;
    border: 5px solid white;
    margin: 20px 0;
}
.dashboard figcaption  {
    margin: 0 10px;
    color: white;
    font-size: 18px;
}
.dashboard .pp {
    position: relative;
}
.dashboard .name-age {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 0;
    padding: 10px;
    width: 100%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 25px;
    background: #0000008a;
}
.dashboard figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.dashboard .swipes .infos {
    margin-bottom: 20px;
}
.dashboard .swipes .infos h3 {
    font-size: 20px;
    margin-bottom: 10px;
}
.dashboard .swipes ul {
    display: flex;
    flex-wrap: wrap;
}
.dashboard .swipes ul li {
    display: flex;
    align-items: center;
    border: solid 1px white;
    width: initial;
    padding: 4px 15px;
    margin: 6px 10px;
    margin-left: 0;
    border-radius: 20px;
}
.dashboard .swipes ul li img {
    width: 25px;
    margin-right: 5px;
}
.no-match-btn {
    position: absolute;
    bottom: 65px;
    z-index: 99;
    right: 5px;
    background: linear-gradient(45deg, #5F00D8, #F69955);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.swipes2 {
    display: none;
}
.msg-clic {
    width: 100%;
    height: 100%;
    background: #000000e1;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}
.msg-clic .msg {
    width: 95%;
    height: 35%;
    background: white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px;
    font-size: 17px;
    font-family: 'Quicksand', sans-serif;
    outline: none;
    position: relative;
}
.msg-submit {
    width: 95%;
    padding: 15px 0;
    font-family: 'Quicksand', sans-serif;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: bold;
    color: white;
    background: #5F00D8;
    border: none;
    outline: none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.msg-clic img {
    width: 30px;
    margin-top: 20px;
}
.messages .msg-container {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 60px;
}
.messages .msg-container .msg {
    width: 100%;
    height: 80px;
    background: white;
    display: flex;
    align-items: center;
    padding: 0 10px;
    font-weight: bold;                                                              
    color: black;
}
.messages .msg-container img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}
.gp-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.gp {
    width: 42%;
    height: 150px;
    margin: 10px;
    position: relative;
}
.gp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.gp p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #000000bd;
    border-radius: 20px;
    font-weight: bold;
    font-size: 18px;
}